<ul class="-mb-px mt-8 flex flex-wrap px-4">
  <li class="border-gray-200 px-2" *ngFor="let tab of tabs" (click)="selectTab(tab)" [class.active]="tab.active">
    <button
      class="inline-block flex rounded-t-lg border-b-2 border-transparent py-4 px-4 text-center text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-600 dark:text-gray-400 dark:hover:text-gray-300">
      <svg-icon src="{{ tab.icon }}" [svgClass]="'h-5 w-5 mr-2'"> </svg-icon>
      <span class="mt-0.5">{{ tab.title }}</span>
    </button>
  </li>
</ul>
<ng-content></ng-content>
