<ul class="flex flex-wrap -mb-px mt-8 px-4">
  <li class="px-2 border-gray-200" *ngFor="let tab of tabs" (click)="selectTab(tab)" [class.active]="tab.active">
    <button
      class="flex inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 
      rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300">
      <svg-icon src="{{tab.icon}}" [svgClass]="'h-5 w-5 mr-2'">
      </svg-icon>
      <span class="mt-0.5">{{tab.title}}</span>
    </button>
  </li>
</ul>
<ng-content></ng-content>