<!-- lightbox.component.html -->
<div
  class="fixed inset-0 z-40 bg-black opacity-50"
  [ngClass]="{ hidden: !showLightbox }"
  (click)="closeLightbox()"></div>
<div class="fixed inset-0 z-50 flex items-center justify-center" [ngClass]="{ hidden: !showLightbox }">
  <div class="rounded-lg bg-white p-4 shadow-lg">
    <!-- Lightbox content here -->
    <img [src]="lightboxImage" alt="Lightbox Image" class="max-w-screen max-h-screen" />
    <button (click)="closeLightbox()" class="absolute top-2 right-2 rounded-full bg-gray-200 p-2 hover:bg-gray-300">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
</div>
