<div class="p-2">
  <div class="mt-5 rounded-tl-lg rounded-tr-lg bg-gray-200 p-4 font-medium text-gray-700">
    <h3>Python</h3>
  </div>
  <div class="bg-[#272822] px-2 md:px-4">
    <!-- enabled for the whole page -->
    <div class="overflow-x-auto md:overflow-visible">
      <pre class="scrollbar-track-gray-700 overflow-x-auto">
        <code class="language-javascript line-numbers relative px-3 md:px-5" [innerHTML]="code"></code>
      </pre>
    </div>
  </div>
  <div class="relative mt-2 md:mt-5 rounded-bl-lg rounded-br-lg bg-gray-200 p-2 md:p-4 font-medium text-gray-500">
    <p class="text-xs font-light">
      Use code with caution. <span class="cursor-pointer font-light text-gray-700 underline">Learn More</span>
    </p>
    <div class="absolute right-2 bottom-2 cursor-pointer">
      <img class="mx-auto block h-6 sm:mx-0 sm:shrink-0" src="assets/icons/outline/copy.svg" alt="Copy" />
    </div>
  </div>
</div>
