<div class="mx-auto h-full w-full px-4 py-4 sm:px-8 lg:container">
  <div
    class="rounded-lgdark:bg-night-700 h-full w-full rounded-xl border-[rgba(156,_198,_255,_0.67)] bg-white text-center shadow-[0px_4px_12px_0px_rgba(0,_0,_0,_0.04)]">
    <div class="relative h-full w-full">
      <div
        class="scrollbar-thumb-rounded scrollbar-track-rounded relative h-full w-full overflow-y-auto scrollbar-thin scrollbar-track-gray-50 scrollbar-thumb-gray-100">
        <div class="list-container mb-28 w-full px-10">
          <ul class="list w-full">
            <li class="list-header sticky top-0 z-10 w-full bg-white font-bold">
              <div class="relative flex items-center space-x-2 p-10">
                <img
                  class="mx-auto block h-10 rounded-lg sm:mx-0 sm:shrink-0"
                  src="assets/images/profile_dp_default.svg"
                  alt="creator face" />
                <div class="flex flex-col">
                  <h3 class="pl-2text-base font-medium text-gray-800 dark:text-night-300">
                    What is the main propose using functions in python?
                  </h3>
                </div>
                <div class="absolute right-0 flex flex-col">
                  <div class="text-primary-500" class="m-2 cursor-pointer">
                    <img src="assets/icons/edit.svg" class="'h-5 w-5'" alt="edit" />
                  </div>
                </div>
              </div>

              <div
                class="absolute left-0 z-50 h-9 w-full"
                style="background: linear-gradient(to bottom, #ffffffdf 0%, rgba(255, 255, 255, 0) 100%)"></div>
            </li>
            <li class="m-3 p-1">
              <div class="relative flex rounded-lg border p-7 shadow">
                <img
                  class="mx-auto block h-10 rounded-lg sm:mx-0 sm:shrink-0"
                  src="assets/images/ProcommunLogo.svg"
                  alt="creator face" />

                <div class="flex flex-col">
                  <div class="w-full max-w-sm px-4 text-left sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-6xl">
                    <p class="text-md inline-block leading-7 text-gray-600">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                      type and scrambled it to make a type specimen book. It has survived not only five centuries, but
                      also thess leap into electronic typesetting, remaining essentially unchanged. It was popularised
                      in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                      recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                      Why do we use it? It is a long established fact that a reader will be distracted by the readable
                      content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                      more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                      making it look like readable English. Many desktop publishing packages and web page editors now
                      use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web
                      sites still in their infancy. Various versions have evolved over the years, sometimes by accident,
                      sometimes on purpose (injected humour and the like). Where does it come from? Contrary to popular
                      belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
                      literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
                      Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur,
                      from a Lorem Ipsum passage, and going through the cites of the word in classical literature,
                      discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de
                      Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book
                      is a treatise on the theory of ethics, very popular during the Renaissance. The first line of
                      Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. The standard
                      chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections
                      1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their
                      exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                    </p>
                    <app-code-conv></app-code-conv>
                  </div>
                  <div class="container my-12 mx-auto px-4 md:px-12">
                    <div class="-mx-1 flex flex-wrap lg:-mx-4">
                      <!-- Column -->
                      <div
                        *ngFor="let image of _albums; let i = index"
                        class="my-1 w-full px-1 md:w-1/2 lg:my-4 lg:w-1/3 lg:px-4">
                        <!-- Article -->
                        <article class="overflow-hidden rounded-lg shadow-lg">
                          <img
                            [ngClass]="{ hidden: !image.type }"
                            alt="Placeholder"
                            (click)="open(i)"
                            class="hidden h-auto w-full cursor-pointer"
                            [src]="image.src" />

                          <iframe
                            title="youtube"
                            [ngClass]="{ hidden: image.type }"
                            (click)="open(i)"
                            class="h-auto w-full cursor-pointer"
                            [src]="image.src"></iframe>

                          <footer class="bg-gray-200 p-2 md:p-4">
                            <p class="ml-2 text-center text-sm text-gray-700">
                              {{ image.caption }}
                            </p>
                          </footer>
                        </article>
                        <!-- END Article -->
                      </div>
                      <!-- END Column -->
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="absolute bottom-0 z-10 w-full bg-white">
        <div
          class="absolute left-0 z-50 h-12 w-full"
          style="background: linear-gradient(to top, #ffffff 0%, rgba(255, 255, 255, 0) 100%); bottom: 93px"></div>
        <form class="relative">
          <label for="default-search" class="sr-only text-sm font-medium text-gray-900 dark:text-gray-300"
            >Search</label
          >
          <div class="relative p-5">
            <input
              type="search"
              id="default-search"
              class="focus:border-yello-500 block w-full rounded-xl border border-gray-300 p-4 pl-4 text-sm text-gray-700 focus:ring-yellow-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
              placeholder="Example : 'Explain quantum computing in simple terms'"
              required />

            <!-- <button type="submit"
                class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button> -->
          </div>
          <div
            class="absolute cursor-pointer rounded-lg bg-primary-400 px-3 py-3 text-sm text-white shadow-xl hover:bg-primary-500"
            style="bottom: 1.5rem; right: 2rem">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_157_531)">
                <path
                  d="M3.16667 17.0707L17.7083 10.8374C18.3833 10.5457 18.3833 9.59573 17.7083 9.30407L3.16667 3.07073C2.61667 2.82907 2.00833 3.2374 2.00833 3.82907L2 7.67073C2 8.0874 2.30833 8.44573 2.725 8.49573L14.5 10.0707L2.725 11.6374C2.30833 11.6957 2 12.0541 2 12.4707L2.00833 16.3124C2.00833 16.9041 2.61667 17.3124 3.16667 17.0707Z"
                  fill="#212121" />
              </g>
              <defs>
                <clipPath id="clip0_157_531">
                  <rect width="20" height="20" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
