<div class="flex h-screen w-screen">
  <div
    class="hidden flex-1 items-center justify-center bg-gradient-to-r from-yellow-200 to-yellow-300 bg-cover lg:flex">
    <div class="max-w-2xl space-y-4 text-center text-white">
      <img src="./assets/images/login_bg.svg" alt="dashboard widget" />
      <div class=" container mx-auto w-full overflow-hidden relative">
        <div class="w-full h-full absolute">
          <div class="w-1/4 h-full absolute z-50 left-0"
            style="background: linear-gradient(to right, #fef08a 0%, rgba(255, 255, 255, 0) 100%);"></div>
          <div class="w-1/4 h-full absolute z-50 right-0"
            style="background: linear-gradient(to left, #fde047 0%, rgba(255, 255, 255, 0) 100%);"></div>
        </div>
        <div class="carousel-items flex items-center justify-center"
          style="width: fit-content; animation: carouselAnim 20s infinite alternate linear;">

            <div *ngFor="let _ of [].constructor(10); let i = index" class=" carousel-focus bg-white w-80 rounded-lg shadow-md mx-5 my-10 px-4 py-3 flex flex-col card text-grey-darkest relative">
              <div class="p-4 pb-0 flex-1">
                <div class="flex"> 
                  <img class="h-10 w-10 object-cover rounded-full"
                    src="https://images.unsplash.com/photo-1541647376583-8934aaf3448a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=100&q=60"
                    alt="image">
                  <div class="pl-3">
                    <p class="truncate text-center text-base text-gray-800 w-min font-semibold">Neil Jafferson</p>
                    <p class="text-sm text-gray-400 w-min font-light">Director</p>
                  </div>
                </div>
                <div class="pb-0 flex  mt-2">
                  <div class="flex items-center space-x-1">
                    <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor" viewBox="0 0 22 20">
                      <path
                        d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                    </svg>
                    <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor" viewBox="0 0 22 20">
                      <path
                        d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                    </svg>
                    <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor" viewBox="0 0 22 20">
                      <path
                        d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                    </svg>
                    <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor" viewBox="0 0 22 20">
                      <path
                        d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                    </svg>
                    <svg class="w-4 h-4 text-gray-300 dark:text-gray-500" aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                      <path
                        d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                    </svg>
                  </div>

                </div>
                <div class="pb-0 flex  mt-3 mb-4">
                    <p class="text-left text-sm text-gray-400 dark:text-night-200">Lorem ipsum dolor sit amet consectetur. Lectus ac commodo eu purus euismod proin odio.</p>
                  

                </div>
              </div>
              <div class="absolute right-6 top-4">
                <img src="./assets/images/Icon-left-quote.svg" alt="icon"/>
              </div>
            </div>                      
        </div>


      </div>
    </div>
  </div>
  <div class="flex flex-1 items-center justify-center bg-white dark:bg-night-700">
    <div class="max-w-md overflow-y-auto px-4 sm:w-[500px]">
      <!-- logo -->
      <div class="flex items-center justify-center">
        <a class="rounded p-2">
          <img class="w-48" src="assets/icons/logo.svg" alt="logo"/>
        </a>
      </div>
      <!-- Route -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>