<div class="mt-7 mb-10 text-center md:mt-0 md:ml-6 md:text-left">
  <form class="my-5 space-y-6">
    <div class="space-y-3 text-left">
      <div class="relative">
        <select id="progamming" class="peer block">
          <option>Choose a language</option>
          <option value="US">Javascript</option>
          <option value="CA">Android</option>
          <option value="FR">Python</option>
          <option value="DE">C++</option>
        </select>
        <label
          for="progamming"
          class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-500 dark:bg-night-700 dark:text-night-200">
          Programming language
        </label>
      </div>
      <div class="relative">
        <input type="text" id="email" class="peer block" placeholder=" " />
        <label
          for="email"
          class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-500 dark:bg-night-700 dark:text-night-200">
          Platoform
        </label>
      </div>
      <div class="relative">
        <select id="level" class="peer block">
          <option>Choose your level</option>
          <option value="US">Beginner</option>
          <option value="CA">Moderate</option>
          <option value="FR">Advance</option>
          <option value="DE">Expert</option>
        </select>
        <label
          for="level"
          class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-500 dark:bg-night-700 dark:text-night-200">
          Level
        </label>
      </div>
      <div class="relative">
        <input type="text" id="confirm-password" class="peer block" placeholder=" " />
        <label
          for="confirm-password"
          class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-600 dark:bg-night-700 dark:text-night-200">
          Goal
        </label>
      </div>
    </div>
  </form>
</div>
