<div class="relative ml-3 flex">
  <!-- Profile Button -->
  <button
    (click)="toggleMenu()"
    class="relative mr-10 flex flex-col rounded-xl bg-white text-sm"
    type="button"
    aria-expanded="false"
    aria-haspopup="true">
    <!-- bell icon image -->
    <img
      clickOutside
      (clickOutside)="isMenuOpen = false"
      class="mt-1 w-10 rounded-md p-2 "
      src="assets/icons/outline/notificationbing.svg"
      alt="" />
  </button>
  <!-- Dropdown   -->
  <div
    [ngClass]="
      isMenuOpen
        ? 'pointer-events-auto scale-100 animate-fade-in-up opacity-100 duration-200'
        : 'pointer-events-none scale-95 opacity-0 duration-100 ease-in'
    "
    style="width: 450px"
    class="absolute right-40 z-20 mt-12 origin-top-right transform rounded-md bg-white py-4 shadow-custom ring-1 ring-transparent ring-opacity-5 transition focus:outline-none dark:bg-night-600">
    <div class="flext-row flex items-center px-4 pb-4">
      <div class="overflow-hidden px-2 text-sm font-semibold text-gray-700 dark:text-night-50">Notifications</div>
    </div>

    <div class="border-b border-dashed border-gray-200 dark:border-night-500"></div>

    <ul class="my-2 mx-4">
      <li
        *ngFor="let _ of [].constructor(5); let i = index"
        class="block cursor-pointer rounded-md px-3 py-2 font-semibold text-gray-700 hover:bg-gray-100 hover:text-primary-500 dark:text-night-200 dark:hover:bg-night-500 dark:hover:text-primary-500">
        <div class="flex items-center space-x-2">
          <div class="flex h-7 w-7 flex-shrink-0 items-center justify-center rounded-full text-center">
            <img class="w-3 rounded-md" src="assets/icons/outline/notificationbing.svg" alt="" />
          </div>
          <div class="flex flex-col">
            <small class="text-md text-gray-500 hover:text-primary-400 dark:text-night-300"
              >Congratulations Your Payment Is Successful 🎉</small
            >
            <small href="" class="text-xs font-semibold text-gray-400 dark:text-night-100"> Lorem ipsum dolor. </small>
          </div>
          <div class="flex flex-col"><small class="text-xs text-gray-400 dark:text-night-300"> Today</small></div>
        </div>
      </li>
    </ul>
  </div>

  <div routerLink="/user/profile" class="relative flex cursor-pointer flex-col rounded-md bg-white p-1 pr-2 text-sm">
    <div class="flex">
      <div class="flex items-center space-x-2">
        <img class="h-9 w-9 rounded-md" src="https://avatars.githubusercontent.com/u/12519008?v=4" alt="" />
        <div class="ml-2 mr-2 flex flex-col">
          <small class="text-base text-gray-500 dark:text-night-300">AR Jakrit</small>
        </div>
      </div>
    </div>
  </div>
  <!-- Profile Button -->
  <!-- <button class="relative flex flex-col space-y-1 mr-10 rounded-full bg-gray-800 text-sm" type="button"
    aria-expanded="false" aria-haspopup="true">
    <span class="sr-only">Open user menu</span>
    <img class="h-9 w-9 rounded-md" src="https://avatars.githubusercontent.com/u/12519008?v=4" alt="" />
  </button> -->
</div>
